* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: #0e0e0e;
  height: 2400px;
}
.container {
  position: relative;
  width: 1367px;
  background-color: #2c3e50;
  margin: 0 auto;
}
/* header menu */
header {
  height: 100px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 155px 0 130px;
}
.header-logo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}
nav ul {
  display: flex;
  gap: 40px;
}

ul li a {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
}
/* header menu */
/* main */

/* block 01 */
.block01 {
  height: 680px;
  background-color: #1abc9c;
  color: #ffffff;
  text-align: center;
  padding: 102px 0;
}
.block01 img {
  width: 250px;
  height: 250px;
  margin-bottom: 30px;
}
.block01 h3 {
  font-size: 65px;
}
.star-line {
  margin-bottom: 20px;
}
.block01 p {
  font-size: 20px;
}
/* block 01 */
/* block 02 */
.block02 {
  height: 852px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 80px 0;
}
.block02 h4,
.block03 h4,
.block04 h4 {
  text-align: center;
  color: #2c3e50;
  font-size: 55px;
  margin-bottom: 10px;
}
/* làm star line */
.star-line {
  position: relative;
  color: #2c3e50;
  text-align: center;
}
.fa-star {
  font-size: 35px;
}
.star-line::before {
  position: absolute;
  content: "";
  width: 110px;
  height: 5px;
  bottom: 50%;
  left: 50%;
  background-color: #2c3e50;
  transform: translateX(-133%);
  border-radius: 10px;
}
.star-line::after {
  position: absolute;
  content: "";
  width: 110px;
  height: 5px;
  bottom: 50%;
  right: 50%;
  background-color: #2c3e50;
  transform: translateX(134%);
  border-radius: 10px;
}
/* phần image list */
.img-list {
  display: grid;
  grid-template-rows: repeat(2, 240px);
  grid-template-columns: repeat(3, 330px);
  gap: 48px;
  margin: 32px 138px 0 138px;
}
.img-list img {
  width: 330px;
  height: 240px;
  object-fit: contain;
  border-radius: 10px;
}
/* block 02 */

/* block 03 */
.block03 {
  height: 610px;
  background-color: #1abc9c;
  text-align: center;
  padding: 102px 0;
}
.block03 h4 {
  color: #ffffff;
}
.content {
  display: flex;
  width: 700px;
  height: 180px;
  margin: 38px auto 45px auto;
  column-gap: 50px;
  color: #ffffff;
}
.left-content,
.right-content {
  font-size: 18px;
  line-height: 1.75em;
  text-align: left;
}
.left-content {
  width: 330px;
}
.right-content {
  width: 320px;
}
/* button */
.block03 button {
  width: 235px;
  height: 66px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
}
/* block 03 */

/* block 04 */
.block04 {
  height: 977px;
  background-color: #fff;
  padding: 80px 0;
}
.form {
  width: 720px;
  height: 610px;
  margin: 75px auto;
}
.block {
  width: 100%;
  height: 65px;
  margin-bottom: 20px;
}
.block:not(:first-child) {
  margin-top: 35px;
}
.block label {
  color: #6c757d;
  font-size: 20px;
}
.block input,
.block #message {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1.5px solid #6c757d;
  margin-top: 15px;
}
.block textarea {
  height: 180px;
}
.send-btn {
  margin-top: 190px;
  width: 100px;
  height: 68px;
}
.send-btn input {
  font-size: 18px;
  border: none;
  color: #fff;
  background-color: #1abc9c;
  padding: 25px 30px;
  border-radius: 10px;
  cursor: pointer;
}
/* block 04 */
/* main */

/* footer */
footer {
  height: 370px;
}
.wrapper {
  display: flex;
  justify-content: space-around;
  margin: 100px 200px 85px 300px;
  text-align: center;
  color: #fff;
}
.col h5 {
  font-size: 25px;
}
.col p,
.col .icon-web {
  margin-top: 15px;
}
.col p span {
  color: #1abc9c;
  cursor: pointer;
}
/* copyright footer */
footer .copyright-footer {
  position: absolute;
  height: 70px;
  width: 100%;
  color: #fff;
  background-color: #19232d;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
/* footer */
