* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Readex Pro", sans-serif;
  list-style: none;
  text-decoration: none;
}
.container {
  width: 1440px;
  height: 840px;
  background-color: #000;
  margin: 0 auto;
}
header {
  width: 1170px;
  height: 107px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 135px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.06);
  gap: 667.5px;
}
nav ul {
  display: flex;
  gap: 40px;
}
nav {
  display: flex;
  gap: 40px;
}
.header-logo {
  color: #fff;
  font-weight: 500;
}
ul li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.92);
}
.btn-cta {
  width: 138px;
  height: 43px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 56px;
}
.btn-cta button {
  background-color: transparent;
  border: none;
  color: #ffd600;
  font-weight: 500;
  font-size: 16px;
  width: 90px;
  height: 19px;
  line-height: 25px;
  /* padding: 3px; */
}
